html {
    background-color: rgb(32, 32, 32);
}

h1 {
    text-align: center;
    color: #003b7e;
}

h2 {
    text-align: center;
    color: #c7a73e;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    text-align: center;
}