html {
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: #003b7e;
}

h2 {
    text-align: center;
    color: #c7a73e;
}

p {
    text-align: center;
    color: rgb(255, 254, 255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    text-align: center;
    color: darkgreen;
}