html {
    background: rgb(0, 0, 0);
    color: cornsilk;
}

h1 {
    text-align: center;
    color: rgb(99, 87, 179);
}

p {
    text-align: left;
}

img {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
