html {
    background: rgb(0, 0, 0);
    color: cornsilk;
}

h1 {
    text-align: center;
    color: rgb(99, 87, 179);
}

p {
    text-align: left;
    display: table;
}

img {
    margin-right: 10px;
    float: left;
    height: 200px;
    border-right-style: solid;
}
